.card_header
{   
    border-bottom: 1px solid rgb(201, 198, 198);
}
#ticket_no
{
    font-size: 18px;
}
.title
{
    font-weight: bold;
}
table
{
    th
    {
        background-color: orange;
        color: white;
    }
}