.row
{
    margin-top: 0px !important;
}
.card_header
{   
    border-bottom: 1px solid rgb(201, 198, 198);
}
#ticket_no
{
    font-size: 18px;
}
.title
{
    font-weight: bold;
}
table
{
    th
    {
        background-color: orange;
        color: white;
    }
}
.approveOrReject-btn
{
    button
    {
        background-color: orange;
        color: white;
    }
    
    .done
    {
        color: green;
    }

    .clear
    {
        color: red;
    }
}



// Stepper Styles

.stepWizardList{
    color:#333;
    border-radius: 10px;
    display: flex;
    // padding: 20px 10px;
    position: relative;
    z-index:10;
}
.stepWizardItem{
    padding:0 20px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}
.stepWizardItem + .stepWizardItem::after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background-color: orangered;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index:-10;
}
.progressIcon{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
}
.progressIcon::after{
    content: "";
    height: 40px;
    width: 40px;
    background-color: orangered;
    position: absolute;
    transform: translateX(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.progressIcon::before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    left: 50%;
    top:50%;
    position: absolute;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}
.progressLabel{
     font-size: 14px;
     font-weight: 600;
     margin-top: 10px;
}
.currentItem .progressIcon::before,
.currentItem ~ .stepWizardItem .progressIcon::before{
    display: none;
}
.currentItem ~ .stepWizardItem .progressIcon::after{
    width: 10px;
    height: 10px;
}   
.currentItem ~ .stepWizardItem .progressLabel{
    opacity: 0.5;
}
.currentItem .progressIcon::after{
    background: #fff;
    border: 2px solid orangered;
}
.currentItem .progressIcon{
    color: orangered;
}


.green-btn
{
    background-color: rgb(97, 155, 97) !important;
    color: white !important;
}

.red-btn
{
    background-color: rgb(180, 78, 78) !important;
    color: white !important;
}

.attachment-btn
{
    background-color: rgb(106, 106, 202) !important;
    color: white !important;
}