<div class="row gap-3">

    <div>
        <Section>
            <ul class="stepWizardList list-unstyled">
                <li class="stepWizardItem" *ngFor="let data of activeStepper" [class.currentItem]="data.status == 'Active' || data.status == ''">
                    <span class="progressIcon"><mat-icon>person_outline</mat-icon></span>
                    <span class="progressLabel">{{data.owner}}</span>
                </li>
            </ul>
        </Section>
    </div>
    
    <div class="row gy-3">
        <div class="col-12 col-md-8">
            <mat-card class="p-4 gap-3">
                <div class="card_header row align-items-center">
                    <div class="col-6">
                        <span class="title" id="ticket_no">Ticket No</span> : {{gateEntries.gateEntryNo}}
                    </div>
                    <div class="col-6 mb-2 d-flex justify-content-end">
                        <button class="attachment-btn" mat-raised-button (click)="downloadAttachment()"><mat-icon>download</mat-icon>Attachment Download</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 row gap-3">
                        <div class="row justify-content-between">
                            <div class="col-6 d-flex justify-content-between">
                                <span class="title">Security Entry</span><span>:</span>
                            </div>
                            <div class="col-6">
                                <span>{{gateEntries.gateEntryTime}}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-6 d-flex justify-content-between">
                                <span class="title">Vendor Name</span><span>:</span>
                            </div>
                            <div class="col-6">
                                <span>{{gateEntries.vendorName}}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-6 d-flex justify-content-between">
                                <span class="title">Vendor Code</span><span>:</span>
                            </div>
                            <div class="col-6">
                                <span>{{gateEntries.vendorCode}}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-6 d-flex justify-content-between">
                                <span class="title">Plant</span><span>:</span>
                            </div>
                            <div class="col-6">
                                <span>{{gateEntries.plant}}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-6 d-flex justify-content-between">
                                <span class="title">Received Date</span><span>:</span>
                            </div>
                            <div class="col-6">
                                <span>{{gateEntries.receivedDate | date : 'dd-MM-yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 row gap-3">
                        <div class="row justify-content-between">
                            <div class="col-6 d-flex justify-content-between">
                                <span class="title">PO No</span><span>:</span>
                            </div>
                            <div class="col-6">
                                <span>{{gateEntries.purchasingDocument}}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-6 d-flex justify-content-between">
                                <span class="title">PO Date</span><span>:</span>
                            </div>
                            <div class="col-6">
                                <span>{{gateEntries.purchasingDocumentDate | date : 'dd-MM-yyyy'}}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-6 d-flex justify-content-between">
                                <span class="title">Invoice No</span><span>:</span>
                            </div>
                            <div class="col-6">
                                <span>{{gateEntries.invoiceNo}}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-6 d-flex justify-content-between">
                                <span class="title">Invoice Date</span><span>:</span>
                            </div>
                            <div class="col-6">
                                <span>{{gateEntries.invoiceDate | date : 'dd-MM-yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-12 col-md-4" *ngIf="showApproveContainer">
            <mat-card class="p-3">
                <form [formGroup]="rejectionFormGroup">
                    <div *ngIf="showReasonAndSubit">
                        <mat-form-field class="w-100" appearance="outline">
                            <!-- <mat-label>Reason For Rejection</mat-label> -->
                            <!-- <input type="text" matInput> -->
                            <mat-select placeholder="Reason For Rejection" formControlName="ResonForRejection">
                                <mat-option *ngFor="let reason of rejection" [value]="reason">
                                    {{reason}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Comments</mat-label>
                            <textarea matInput formControlName="Comments"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-end gap-3 approveOrReject-btn">
                        <button mat-raised-button class="green-btn" *ngIf="showApproveOrReject" (click)="approve()"><mat-icon>done</mat-icon>Approve</button>
                        <button mat-raised-button class="red-btn" *ngIf="showApproveOrReject" (click)="reject()"><mat-icon>clear</mat-icon>Reject</button>
                        <button mat-raised-button class="red-btn" *ngIf="showReasonAndSubit" (click)="cancel()"><mat-icon>clear</mat-icon>Cancel</button>
                        <button mat-raised-button class="green-btn" *ngIf="showReasonAndSubit" (click)="submitReject()"><mat-icon>done</mat-icon>Submit</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
    <div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <ng-container matColumnDef="trnid-col">
                <th mat-header-cell *matHeaderCellDef> TRNID </th>
                <td mat-cell *matCellDef="let element"> {{element.gateEntryNo}} </td>
              </ng-container>
          
              <ng-container matColumnDef="se-col">
                <th mat-header-cell *matHeaderCellDef> SE </th>
                <td mat-cell *matCellDef="let element"> {{element.packNo}} </td>
              </ng-container>
          
              <ng-container matColumnDef="itemcode-col">
                <th mat-header-cell *matHeaderCellDef> ITEM CODE </th>
                <td mat-cell *matCellDef="let element"> {{element.item}} </td>
              </ng-container>
          
              <ng-container matColumnDef="desc-col">
                <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="poqty-col">
                <th mat-header-cell *matHeaderCellDef> PO QTY </th>
                <td mat-cell *matCellDef="let element"> {{element.poQty}} </td>
              </ng-container>

              <ng-container matColumnDef="security-col">
                <th mat-header-cell *matHeaderCellDef> Security Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.securityQty}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
          
    </div>
</div>


<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="white"
  type="square-jelly-box"
  [fullScreen] = "true"
>
  <!-- <p style="font-size: 20px; color: white">Loading...</p> -->
</ngx-spinner>