.heading-container
{
    
    .heading
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: bold;
        color: orange;
    }
}
button
{
    width: 10%;
}

.title
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
mat-table
{
    max-height: 300px;
    overflow: auto;

    mat-header-cell {
        background: orange !important;
        color: white !important;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
}
mat-icon
{
    color: orange !important;
}

form
{
    #gatentryno
    {
        mat-form-field
        {
            width: 130px !important;
        }
    }
    #plant
    {
        mat-form-field
        {
            width: 100px !important;
        }
    }
    #gatentrydate
    {
        mat-form-field
        {
            width: 130px !important;
        }
    }
    #gatentrytime
    {
        mat-form-field
        {
            width: 130px !important;
        }
    }
    #po
    {
        mat-form-field
        {
            width: 150px !important;
        }
    }
    #podate
    {
        mat-form-field
        {
            width: 130px !important;
        }
    }
    #receiveddate
    {
        mat-form-field
        {
            width: 150px !important;
        }
    }
    #invoicedate
    {
        mat-form-field
        {
            width: 150px !important;
        }
    }
    #vehicleno
    {
        mat-form-field
        {
            width: 150px !important;
        }
    }
    #lr
    {
        mat-form-field
        {
            width: 150px !important;
        }
    }
    #costcenter
    {
        mat-form-field
        {
            width: 150px !important;
        }
    }
}
// .mat-mdc-text-field-wrapper {
//     height: 40px !important;
// }

#gateEntry-container
{
    .mat-mdc-text-field-wrapper {
        height: 40px !important;
    }
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix
    {
        padding-top: 9px !important;
    }
}

.mat-mdc-icon-button {
    --mat-mdc-button-persistent-ripple-color: none;
    --mat-mdc-button-ripple-color: none;
}