<div class="container-fluid mb-2">
    <!-- <div class="mb-3 heading-container">
        <span class="heading">Gate Entry</span>
    </div> -->
    <div>
        <form [formGroup]="gateEntryForm" class="row gap-2" id="gateEntry-container">
            <div class="row">
                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">Gate Entry No</div>
                        <div id="gatentryno">
                            <mat-form-field class="col-12" appearance="outline">
                                <!-- <mat-label>Gate Entry No</mat-label> -->
                                <input type="text" matInput formControlName="gateEntryNo" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">Plant</div>
                        <div id="plant">
                            <mat-form-field class="col-12" appearance="outline">
                                <mat-label></mat-label>
                                <input type="text" maxlength="4" (keypress)="($event.charCode >= 48 && $event.charCode < 58)" matInput formControlName="Plant">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">Gate Entry Date</div>
                        <div id="gatentrydate">
                            <mat-form-field class="col-12" appearance="outline">
                                <!-- <mat-label>Gate Entry Date</mat-label> -->
                                <input type="text" matInput formControlName="gateEntryDate" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">Gate Entry Time</div>
                        <div id="gatentrytime">
                            <mat-form-field class="col-12" appearance="outline">
                                <!-- <mat-label>Gate Entry Time</mat-label> -->
                                <input type="text" matInput formControlName="gateEntryTime" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-2 poNumber-field">
                        <div class="title">PO Number</div>
                        <div id="po">
                            <mat-form-field class="col-12" appearance="outline">
                                <mat-label></mat-label>
                                <input type="text" matInput formControlName="PurchasingDocument">
                                <mat-icon matSuffix class="search-icon" (click)="searchPo()">search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">PO Date</div>
                        <div id="podate">
                            <mat-form-field class="col-12" appearance="outline">
                                <!-- <mat-label>PO Date</mat-label> -->
                                <input matInput formControlName="PurchasingDocumentDate" readonly>
                            </mat-form-field>
                        </div>
                    </div> 

                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">Received Date</div>
                        <div id="receiveddate">
                            <mat-form-field class="col-12" appearance="outline">
                                <!-- <mat-label>Received Date</mat-label> -->
                                <input matInput formControlName="receivedDate" readonly>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">Invoice Number</div>
                        <div>
                            <mat-form-field class="col-12" appearance="outline">
                                <mat-label></mat-label>
                                <input type="text" matInput formControlName="invoiceNo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">Invoice Date</div>
                        <div id="invoicedate">
                            <mat-form-field class="col-12" appearance="outline">
                                <!-- <mat-label>Invoice Date</mat-label> -->
                                <input matInput [matDatepicker]="picker" formControlName="invoiceDate" [max]="todayDate">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">Vendor Code</div>
                        <div>
                            <mat-form-field class="col-12" appearance="outline">
                                <!-- <mat-label>Vendor Code</mat-label> -->
                                <input type="text" matInput formControlName="vendorCode" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                     
                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">Vehicle No</div>
                        <div id="vehicleno">
                            <mat-form-field class="col-12" appearance="outline">
                                <!-- <mat-label>Vehicle No</mat-label> -->
                                <input type="text" matInput formControlName="vehicleNo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">LR No</div>
                        <div id="lr">
                            <mat-form-field class="col-12" appearance="outline">
                                <!-- <mat-label>LR No</mat-label> -->
                                <input type="text" matInput formControlName="lrNo">
                            </mat-form-field>
                        </div>
                    </div> 

                    <div class="col-12 col-sm-4 col-md-2">
                        <div class="title">Cost Center</div>
                        <div id="costcenter">
                            <mat-form-field class="col-12" appearance="outline">
                                <!-- <mat-label>Cost Center</mat-label> -->
                                <input type="text" matInput formControlName="costCenter" readonly>
                            </mat-form-field>
                        </div>
                    </div> 

                    <div class="col">
                        <div class="title">Vendor Name</div>
                        <div id="vendorname">
                            <mat-form-field class="col-12" appearance="outline">
                                <!-- <mat-label>Vendor Name</mat-label> -->
                                <input type="text" matInput formControlName="vendorName" readonly>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col">
                        <div class="title">Remarks</div>
                        <div>
                            <mat-form-field class="col-12" appearance="outline">
                                <textarea rows="1" matInput formControlName="remarks"></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col d-flex gap-5 align-items-center">
                        <div>
                            <mat-radio-group class="d-flex align-items-center" aria-label="Select an option" formControlName="localOrImport">
                                <mat-radio-button color="warn" value="Local">Local</mat-radio-button>
                                <mat-radio-button color="warn" value="Imports">Imports</mat-radio-button>
                            </mat-radio-group>
                        </div>  
                        <div>
                            <section class="example-section">
                                <mat-checkbox color="warn" class="example-margin" formControlName="external">External</mat-checkbox>
                            </section>
                        </div>                    
                    </div>


                    <div class="row justify-content-end">
                        <button mat-raised-button class="col-2 UploadBtn" type="button" (click)="uploadInput.click()">

                            <mat-icon>upload</mat-icon>
                
                            <span>Attachment</span>
                
                            <input #uploadInput type="file" onclick="this.value=null" (change)="onUploadFileChange($event)" style="display:none;" />
                
                        </button>
                    </div>

            </div>
            <div>
                <form [formGroup]="OpenQuantityFormGroup">

                    <div formArrayName="items">

                        <div class="example-container mat-elevation-z8">
                            <mat-table #table [dataSource]="dataSource" matSort>
                        
                            <ng-container matColumnDef="partsno-col">
                                <mat-header-cell *matHeaderCellDef> Parts No </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.partsNo}} </mat-cell>
                            </ng-container>
                        
                            <ng-container matColumnDef="itemno-col">
                                <mat-header-cell *matHeaderCellDef> Item No </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.item}} </mat-cell>
                            </ng-container>
                        
                            <ng-container matColumnDef="desc-col">
                                <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                            </ng-container>
                        
                            <ng-container matColumnDef="value-col">
                                <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="poqty-col">
                                <mat-header-cell *matHeaderCellDef> PO Qty </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.poQty}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="opengrqty-col">
                                <mat-header-cell *matHeaderCellDef> Open GR Qty </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.openGrQty}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="secqty-col">
                                <mat-header-cell *matHeaderCellDef> Security Qty </mat-header-cell>
                                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                                    <mat-form-field appearance="outline">
                                        <input matInput type="text" formControlName="securityQty" (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="packno-col">
                                <mat-header-cell *matHeaderCellDef> Pack No </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.packNo}} </mat-cell>
                            </ng-container>
                        
                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky : true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>

                            <div *ngIf="!tableData?.length" class="d-flex align-items-center p-3 gap-3">
                                <mat-icon>info</mat-icon>
                                <span>No Records Found.....</span>
                            </div>
                        
                            <!-- <mat-paginator #paginator
                                            [style.display]="tableData?.length?'inherit':'none'"
                                        [pageSize]="5"
                                        [pageSizeOptions]="[5, 10, 50, 100]"
                                        [showFirstLastButtons]="true">
                            </mat-paginator> -->
                        </div>

                    </div>

                </form>

            </div>
            <div class="d-flex justify-content-end gap-3 mt-3">
                <button mat-raised-button class="col-2 cancel-btn" (click)="cancel()">Cancel</button>
                <button mat-raised-button class="col-2 save-btn" (click)="save()">Save</button>
            </div>
        </form>
    </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="white"
  type="square-jelly-box"
  [fullScreen] = "true"
>
  <!-- <p style="font-size: 20px; color: white">Loading...</p> -->
</ngx-spinner>