.heading-container
{
    
    .heading
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: orange;
    }
}

.title
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
mat-table
{
    max-height: 300px;
    overflow: auto;

    mat-header-cell {
        background: orange !important;
        color: white !important;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
}


#gateEntry-container
{
    .mat-mdc-text-field-wrapper {
        height: 40px !important;
    }
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix
    {
        padding-top: 9px !important;
    }
}

.search-icon
{
    color: black !important;
}

.cancel-btn
{
    background-color: rgb(160, 42, 42) !important;
    color: white !important;
}

.save-btn
{
    background-color: rgb(71, 170, 71) !important;
    color: white !important;
}

.UploadBtn
{
    background-color: darkgray !important;
    color: white !important;
}

.poNumber-field
{
    mat-icon
    {
        cursor: pointer;
    }
}