<div class="header-container">
  <div class="logo-container">
    <!-- <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a> -->
    <img style="width: 100px;" src="/assets/images/Continental-Logo.png" alt="">
    <a class="logo" href="#" (click)="navigateHome()">TCI</a>
  </div>
  <div class="d-flex gap-5 menu-items">
    <Span class="menu-list" routerLink="/pages/entry-pages/dashboard" routerLinkActive="active">Dashboard</Span>
    <Span class="menu-list" routerLink="/pages/entry-pages/gate-entry" routerLinkActive="active" *ngIf="UserName == 'User'">Gate Entry</Span>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
